
.contenedor{
  width: 70%;
  margin: auto;
  max-width: 1500px;
}

.datos{
  margin-bottom: 20px;
}

.message-headeruwu{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 14px;
  margin-bottom: -10px;
  font-weight: bold;
  background-color: #363636;
  color: #ffff;
}

@media screen and (max-width: 550px){
  .contenedor{
    width: 100%;
    margin: 0px 0px;
  }
}